*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.contenor{
    margin: 0px 80px;
}

.header_p{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.header{
/* position: relative; */

}
.nevigation {
    display: flex;
    padding: 10px;
    align-items: center;
}
.log{
    flex: 1;
}
.log h1{
text-transform: uppercase;
color: white;
}
.nav{
    flex: 0;
}
.nav ul {
 display: flex;
 gap: 70px;
}
.nav ul a{
    text-transform: uppercase;
    color: white;
}
/* ------------ home page==================== */

.sec-1{
    position: absolute;
    background-image: url(https://media.istockphoto.com/id/1361375827/photo/woman-near-boat-in-phra-nang-beach.jpg?s=612x612&w=0&k=20&c=a64fo_5Zm6FvKLye2PLi3JFQiZMBBLwSp6raECGDs28=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100% ;
    width: 100%;

}
.sp{
    background-color: rgba(0, 0, 0, 0.26);
    height: 100%;
z-index: 0;
}
.text{
    text-align: center;
    padding: 100px;

}
.text h3 {
    padding: 50px;
    color: white;
    font-size: 30px;
    border-bottom:1px solid white ;
}
.text h2 {
    font-size: 65px;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 25px;
}
.button{
    padding: 25px;
}
.button button {
    padding: 15px;
    border-radius: 5px;
    background: dodgerblue;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    color: white;
}